<form [formGroup]="bookingRequest" class="formGroup">
    <div class="d-flex">
        <label for="name">Name *</label>
        <input type="text" class="input-content" formControlName="name" placeholder="Name">
        <p class="text-danger" *ngIf="bookingRequest.controls.name.invalid && bookingRequest.touched">
            This field is required.
        </p>
    </div>
    <div class="d-flex">
        <label for="inputName">Date *</label>
        <input class="form-control" (click)="fromDate.toggleCalendar()" readonly placeholder="DD/MM/YYYY - DD/MM/YYYY"
            angular-mydatepicker name="reactiveFormsDate" formControlName="date" [options]="myDatePickerOptions"
            #fromDate="angular-mydatepicker" autocomplete="off" />
            <p class="text-danger" *ngIf="bookingRequest.controls.date.invalid && bookingRequest.touched">
                This field is required.
            </p>
        </div>

    <div class="d-flex">
        <label for="inputName">Type of Rooms *</label>
        <select formControlName="rooms">
            <option *ngFor="let item of roomType" [value]="item">{{item}}</option>
        </select>
        <p class="text-danger" *ngIf="bookingRequest.controls.rooms.invalid && bookingRequest.controls.rooms.touched">
            This field is required.
        </p>
    </div>
    <button class="add" (click)="create()">Book Now</button>
    <button class="cancel" (click)="cancel()">Reset</button>
    <p *ngIf="bookingId" class="alert">Success!!! Your Booking Id is <span>{{bookingId}}</span></p>
</form>