input, select{
    padding: 5px 15px;
    margin: 5px 20px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 12px;
    min-width: 200px;
    position: relative;
    height: 30px;
}
form{
    position: relative;
}
label{
    width: 40%;
}