.nav-tabs{
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #0000002e;
    li{
        padding: 10px 15px;
        a{
            color: #000;
            font-size: 14px;
        }
    }
    .active{
        background-color: #ccc;
        border-radius: 4px 4px 0 0;    }
}