.table{
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    .table-head{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #000;
        .thead{
            padding: 5px 10px;
            width: 25%;
            p{
                font-weight: 600;
                font-size: 12px;
                margin: 0;            }
        }

    }
    .table-content{
        .row{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .titem{
                padding: 5px 10px;
                width: 25%;
                p{
                    font-size: 12px;
                    margin: 0;                }
            }
        }
    }
}